extends layout
block content
  section.bg-img1.txt-center.p-lr-15.p-tb-92(style="background-image: url('/images/bg-02.jpg');")
    hr.divider-w.mb-10
    h2.text-center(style="color:white") เกี่ยวกับเรา
    hr.divider-w.mb-10
  // Content page
  section.bg0.p-t-75.p-b-120
    .container
      .row.p-b-148
        .col-md-7.col-lg-8
          .p-t-7.p-r-85.p-r-15-lg.p-r-0-md
            hr.divider-w.mb-10
            h3
              | นาย กิตติศักดิ์ ถิ่นตองโขบ
            hr.divider-w.mb-10
            h3
              | คณะวิทยาศาสตร์และเทคโนโลยีสารสนเทศ 
            hr.divider-w.mb-10
            h3 
              | สาขาวิทยาการคอมพิวเตอร์
            hr.divider-w.mb-10
            h3 
              | FB : 
              a(href="https://www.facebook.com/pond.tintongkob/" target="_blank") Kittisak Tintongkob
            hr.divider-w.mb-10
            h3 
              | เบอร์โทร : 
              a(href="tel:082-061-9785") 082-061-9785
            hr.divider-w.mb-10
        .col-11.col-md-5.col-lg-4.m-lr-auto
          .how-bor1
            .hov-img0
              a(href="/images/pond.jpg" target="_blank")
                img#img.text-center(width="300" height="300"  src="/images/pond.jpg")
      .row
        .order-md-2.col-md-7.col-lg-8.p-b-30
          .p-t-7.p-l-85.p-l-15-lg.p-l-0-md
            hr.divider-w.mb-10
            h3
              | นาย นที ยอดโต
            hr.divider-w.mb-10
            h3
              | คณะวิทยาศาสตร์และเทคโนโลยีสารสนเทศ 
            hr.divider-w.mb-10
            h3 
              | สาขาวิทยาการคอมพิวเตอร์
            hr.divider-w.mb-10
            h3
              | E-mail : 
              a(href="mailto:nateeyodto@gmail.com") nateeyodto@gmail.com
            hr.divider-w.mb-10
            h3 
              | เบอร์โทร : 
              a(href="tel:091-872-6630") 091-872-6630
            hr.divider-w.mb-10
        .order-md-1.col-11.col-md-5.col-lg-4.m-lr-auto.p-b-30
          .how-bor2
            .hov-img0
              a(href="/images/natee.jpg" target="_blank")
                img#img.text-center(width="300" height="300"  src="/images/natee.jpg")
  script(src='/vendor/jquery/jquery-3.2.1.min.js')